:root {
	--main-title-color: #ffffff;
	--second-title-color: #2f303a;
	--first-title-color: #2196f3;
	--third-title-color: #212121;
	--fifth-title-color: #757575;
	--sixth-title-color: #188ce8;
	--horizont--line-color: #ececec;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

ul {
	margin: 0px;
}

button {
	margin: 0px;
	padding: 0px;
}
img {
	display: block;
}

address {
	font-style: normal;
}

.body {
	font-family: "Raleway", sans-serif;
	font-family: "Roboto", sans-serif;
}

/* -----header----- */


.header-item-1 {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #212121;
	text-decoration: none;
}

.header-item-1:hover {
	color: var(--first-title-color);
}

.header-item-3 {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--third-title-color);
	text-decoration: none;
}

.header-item-3:hover {
	color: var(--first-title-color);
}

.contact {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 0, 58;
	letter-spacing: 0.03em;
	color: var(--fifth-title-color);
	text-decoration: none;
}
.contact:hover {
	color: var(--first-title-color);
}

.contact {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 0.87;
	letter-spacing: 0.02em;
	color: var(--fifth-title-color);
	text-decoration: none;
}
.logo-link {
	font-family: Raleway;
	font-weight: 700px;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--first-title-color);
}


.logo {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--second-title-color);
	text-decoration: none;
}
.container {
	width: 1600px;
	height: 80px;
	margin: 0 auto;
	padding: 0 15px;
	border: 1px solid red;
}
.links {
	margin-left: 93px;
}

.nav,
.links,
.contacts {
	display: flex;
}
.header {
	border-bottom: 1px solid #ececec;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header.logo {
	margin-right: 93px;
	display: flex;
	align-items: center;
}
.contact,
.link {
	display: inline-block;
	margin-right: 50px;
	padding: 30px 0px;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--third-title-color);
}

.links li:last-child .link {
	margin-right: 50px;
}

.contact {
	margin-right: 0px;
	margin-left: 50px;
	color: var(--fifth-title-color);
}

.contacts li:first-child .contact {
	margin-left: 0;
}
.logo-link {
	display: flex;
	align-items: center;
	margin-left: 215px;
}




/* ------Hero----- */

.hero {
	padding: 200px;
	background-color: var(--second-title-color);
	max-width: 1600px;
	margin: 0 auto;
	font-family: Roboto;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--main-title-color);
}

.hero__title {
	font-family: Roboto;
	font-weight: 900;
	font-size: 44px;
	max-width: 650px;
	line-height: calc(60 / 44);
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--main-title-color);
	margin: 0 auto;
	margin-bottom: 30px;
}

.hero__btn {
	font-family: Roboto;
	background-color: var(--first-title-color);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.61;
	letter-spacing: 0.03em;
	color: var(--main-title-color);
	padding: 10px 32px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px #212121(0, 0, 0, 0.15);
}
.hero__btn:hover {
	background-color: var(--sixth-title-color);
	cursor: pointer;
}

/* --------advantages-------- */

.section-advantages {
	border: 3px solid black;
	padding: 0 px;
	display: flex;
	justify-content: center;
	
	
}
.advantages-container {
	padding: 0;
	border: 3px solid red;
	display: flex;
	width: 1170px;
	height: 120;
	margin-top: 94px;
	margin-bottom: 94px;

}
.advantages-list {
	border: 4px solid green;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.advantages li {
	border: 3px solid orange;
}

.advantages-list__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4;
	margin-bottom: 10px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--third-title-color);
}

.advantages-list__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: calc(24 / 14);
	color: var(--fifth-title-color);
}

/* ---go-about--- */

.section-go-about {
	border:2px solid black;
}

	


.section-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--third-title-color);
}

.go-about__list {
	border: 2px solid red;
	display: flex;
	align-items: center;
	justify-content: center;
}

.go-about__list li {
	width: calc((100% - 60 px) / 3);
	margin-right: 30px;
}
.go-about__list li :last-child {
	margin-right: 0px;
}








/* Списки <li> */
.item-address {
	list-style-type: none;
}
.advantages {
	list-style-type: none;
}
.go-about__list {
	list-style-type: none;
}
.team__title {
	list-style-type: none;
}

.header-mail-list {
	list-style-type: none;
}
.header-tel-list {
	list-style-type: none;
}
.links {
	list-style-type: none;
}

/*  ----------- */

.team__list{
	display: flex;
	justify-content: space-between;
}

.team__list li {
	width: calc((100% - 90px) /4);
	margin-right: 30px;
}
.team__list li:last-child{
	margin-right: 0px;
}



.team__text {
	font-family: Roboto;
	text-align: center;
	font-size: 16px;
	line-height: 0.8;
	letter-spacing: 0.03em;
	color: var(--fifth-title-color);
}


.team__title {
	font-family: Roboto;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 0.8;
	letter-spacing: 0.03em;
	color: var(--third-title-color);}







/* btn */
.btn {
	list-style-type: none;
}

.btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.61;
	letter-spacing: 0.03em;
	color: var(--third-title-color);
}
.btn:hover {
	color: var(--main-title-color);
	background-color: var(--sixth-title-color);
	border-width: 1px;
	border-radius: 3px;
	cursor: pointer;
}




/*footer*/
.footer {
	width: 1600px;
	height: 252px;
	left: 0px;
	top: 1628px;
	background: var(--second-title-color);
}
.footer-logo {
	color: var(--main-title-color);
}
.map {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 0.88;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--main-title-color);
}

/* Hero */

.class {
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;
	line-height: 0.85;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--third-title-color);
}

.command {
	font-family: Roboto;
	font-size: 36px;
	line-height: 0.85;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--third-title-color);
}







.portfolio-title {
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	line-height: 0.9;
	letter-spacing: 0.06em;
	color: var(--third-title-color);
}
.portfolio-text {
	font-family: Roboto;
	font-size: 16px;
	line-height: 0.8;
	letter-spacing: 0.03em;
	color: var(--fifth-title-color);}